.hero
    border-bottom: $header-border-bottom-width solid var(--color-border)
    margin-left: auto
    margin-right: auto
    max-width: var(--grid-width)

    .content
        figure 
            figcaption
                .credit-content
                    font-size: pxToRem(12)
                    
.pages__section, .events__section
    .hero 
        .content 
            align-items: center
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            .hero-text
                width: columns(6)
            figure 
                display: flex
                justify-content: flex-end
                margin-left: 0
                margin-right: 0
                width: columns(3)
                img
                    max-height: 100px
                    width: auto
body::after
    mix-blend-mode: screen
.document-content
    .block
        margin-bottom: 0
        margin-top: 0
        padding-bottom: var(--block-space-y)
        padding-top: var(--block-space-y)
        h2.block-title 
            background-color: var(--color-background-alt)
            border: $header-border-bottom-width solid var(--color-border) 
            box-shadow: var(--color-selection-background) 2px 2px 0px
            font-weight: bold
            padding: $spacing-1
            transform: rotate(-1deg)
            width: 100%
        &-summary
            .container
                .lead
                    background-color: var(--color-background-alt)
                    border: $header-border-bottom-width solid var(--color-border)
                    box-shadow: var(--color-selection-background) 2px 2px 0px
                    transform: rotate(-1deg)
                    padding: $spacing-2 var(--grid-gutter)
        &-siblings-navigation
            padding-bottom: $spacing-3
            padding-top: $spacing-3
            .siblings-navigation 
                border-width: 2px
                ul 
                    a:hover
                        transition: 0.1s
                    span 
                        text-transform: uppercase
                    .previous, .next
                        border-width: 2px
header#document-header 
    border: $header-border-bottom-width solid var(--color-border)
    box-shadow: var(--color-selection-background) 2px 2px 0px
    margin-left: auto
    margin-right: auto
    right: 0
    width: calc(var(--grid-width) - var(--grid-gutter) - var(--grid-gutter))

.menu
    .nav-level-1
        @include media-breakpoint-down(desktop)
            li:not(:last-child)
                border-bottom: $header-border-bottom-width solid var(--color-border)
        > li 
            > a
                text-transform: uppercase
.lead 
    text-transform: uppercase


footer#document-footer
    align-items: flex-start
    border-top: $header-border-bottom-width solid var(--color-border)
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .container
        display: block
        padding: 0
        width: fit-content
        margin-top: $spacing-4
        + .container
            padding-top: 0
            margin-top: 0
    .footer-social 
        .nav-social 
            + .site-links
                li
                    margin-top: 0
    .footer-legals
        margin-top: $spacing-3
        .footer-credit
            margin-top: 0
    @include media-breakpoint-down(desktop)
        .container 
            + .container
                margin-top: 0

body.page-exposants
    .block
        &-organizations
            padding-bottom: 0
            &--grid
                .grid
                    border-top: $header-border-bottom-width solid var(--color-border)
                    grid-gap: 0
                    @include media-breakpoint-down(xl) 
                        grid-gap: 0 !important
                    article
                        border-bottom: $header-border-bottom-width solid var(--color-border)
                        border-left: $header-border-bottom-width solid var(--color-border)
                        border-right: $header-border-bottom-width solid var(--color-border)
                        @include media-breakpoint-up(xl) 
                            &:not(:nth-child(6n+1))
                                border-left: none
                            &:nth-child(6n):nth-last-child(-n+7) ~ article
                                border-bottom: none
                        @include media-breakpoint-down(xl) 
                            @include media-breakpoint-up(desktop) 
                                &:not(:nth-child(4n+1))
                                    border-left: none
                                &:nth-child(4n):nth-last-child(-n+5) ~ article
                                    border-bottom: none
                        @include media-breakpoint-down(desktop)
                            @include media-breakpoint-up(md)
                                &:not(:nth-child(3n+1))
                                    border-left: none
                                &:nth-child(3n):nth-last-child(-n+4) ~ article
                                    border-bottom: none
                        @include media-breakpoint-down(md)
                            &:not(:nth-child(2n+1))
                                border-left: none
                            &:nth-child(2n):nth-last-child(-n+3) ~ article
                                border-bottom: none
                        .organization-title 
                            z-index: 3
                            a 
                                background-color: var(--color-background-alt)
                                border: $header-border-bottom-width solid var(--color-border)
                                margin-left: 5px
                                margin-right: 5px
                                margin-top: -50%
                                text-align: center
                        &:hover
                            .media
                                &::after
                                    background-color: #feed01
                                    mix-blend-mode: overlay
                                    transition: 0.5s
                        .media
                            aspect-ratio: 1
                            height: 100%
                            margin-bottom: 0
                            padding: 0
                            position: relative
                            &::after
                                content: ""
                                height: 100%
                                position: absolute
                                top: 0
                                width: 100%

.events__page:not(.full-width)
    .document-content
        min-height: initial
    .event-sidebar
        .event-infos
            @include media-breakpoint-up(desktop)
                background-color: var(--color-background-alt)
                border: $header-border-bottom-width solid var(--color-border)
                box-shadow: var(--color-selection-background) 2px 2px 0px
                height: fit-content
                padding: $spacing-3
                transform: rotate(-1deg)
            > *:not(.event-date)
                display: none
            > *
                text-transform: uppercase
.events__section, .page__home
    .events--grid
        .media
            img
                aspect-ratio: auto
.page__home
    .hero
        background: transparent
        border: $header-border-bottom-width solid var(--color-border)
        height: 100vh
        @include media-breakpoint-down(sm)
            max-height: 700px
        overflow: hidden
        position: relative
        &--image-portrait, &--image-square, &--image-landscape
            .content 
                figure
                    bottom: 0
                    left: 0
                    position: absolute
                    right: 0
                    top: 0
                    z-index: -1
                    @include media-breakpoint-up(desktop)
                        width: 100%
                    picture
                        height: 100%
                        img
                            min-height: 100%
                            object-fit: cover
                            object-position: center
                            width: auto

        .hero-text
            padding: $spacing-3
            background-color: var(--color-background-alt)
            border: $header-border-bottom-width solid var(--color-border)
            box-shadow: var(--color-selection-background) 2px 2px 0px   
            transform: rotate(-1deg)         

    .block-organizations--map
        border: $header-border-bottom-width solid var(--color-border)
        padding: 0
        max-width: 100%
        overflow: hidden
        .container
            padding: 0
            .map
                .leaflet-marker-pane img.leaflet-marker-icon
                    filter: drop-shadow(-2px 0px 1px #000005)
                    height: 50px !important
                    margin-top: -50px !important
                    width: auto !important
                    position: absolute
                    z-index: 402
    .block-organizations--grid
        .organizations
            align-items: center
            display: flex
            flex-wrap: wrap
            justify-content: space-evenly
            .organization-title
                display: none
            .media
                padding: 0
                picture
                    max-height: 200px
                    width: 100px